.container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 24px;
  font-family: Arial, sans-serif;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 600;
  }

  strong {
    font-weight: 600;
  }

  p {
    margin-bottom: 16px;
    font-size: 1.1rem;
  }

   img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
  }

}
