.student{
    background-color: rgba(163, 156, 156, 0.66);
    border: 1px solid rgba(189, 164, 164, 0.516);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    font-size: 1.5rem;



img {
    width: 75px; /* or 60px, adjust as needed */
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
}