.navigation{
    background-color: red;
}

.navigation__gender{
    color: white;
}

.navigation__personal{
    color: white;
}

.navigation__logo{
    color: white;
}

.navigation__search-bar{
    color: white;
}