h1 {
    color: #22588e; 
    font-size: 70px;       
    text-align: center;   
    margin-top: 50px;
}

button {
    background-color: #3498db;
    color: white;
    padding:24px 48px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
}


button:hover {
    background-color: #2980b9;
}