body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#game-zone {
  background-image: url("../assets/grass.png");

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 900px;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
  overflow: hidden;
}

.player {
  position: absolute;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}

.player img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.ball {
  width: 40px;
  height: 40px;
  background-image: url("../assets/ball.png");
  background-size: cover;
  position: absolute;
  border-radius: 50%;
}
