.wrapper{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
    width: 90vw;
    margin: 0 auto;

    @media screen and (max-width: 1600px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

.card {
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  
    padding: 1rem;
    background-color: white;

    &__img {
        width: 100%;
        height: 250px;
    }

    &__text {
        font-size: 1.2rem;
        color: rgb(46, 124, 197);
        text-align: center;
    }
}

#dog-img {
    background-image: url("https://images.theconversation.com/files/625049/original/file-20241010-15-95v3ha.jpg?ixlib=rb-4.1.0&rect=12%2C96%2C2671%2C1335&q=45&auto=format&w=1356&h=668&fit=crop");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}