.game-container__background {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100%;
  background-image: url("../imgs/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
}

#cannon {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 150px;
  transition: left 0.1s linear;
  pointer-events: none; 
  user-select: none;  
  outline: none;
  z-index: 1000;}

  .bullet {
  position: absolute;
  width: 5px;
  height: 15px;
  background: rgb(92, 45, 6);
  z-index: 2000; /* ✅ makes sure bullet shows above cannon */
}
