.game-container__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.game-container__background {
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;
  background-image: url("../imgs/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
}

.game-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 3000;
}


#pauseButton {
  pointer-events: auto;
  position: absolute;
  top: 15px;
  left: 640px; 
  z-index: 1001; 
  background-color: rgba(255, 132, 0, 0.872);
  border: none;
  border-radius: 6px;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
}


#pauseButton:hover {
  background-color: rgba(255, 255, 255, 1);
}


#scoreBarContainer {
  pointer-events: auto;
  position: absolute;
  top: 120px; /* or whatever you set it to */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 25px;
  background-color: rgba(255, 0, 0, 0.3); /* Light transparent red background */
  border: 2px solid rgb(255, 166, 0); /* Red border */
  border-radius: 12px;
  overflow: hidden;
}

#scoreBar {
  width: 100%;
  height: 100%;
  background-color: rgba(225, 224, 151, 0.556);
  transition: width 0.3s ease;
}

#cannon {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 150px;
  transition: left 0.1s linear;
  pointer-events: none;
  user-select: none;
  outline: none;
  z-index: 1000;
  max-left: calc(100% - 150px);
}

.bullet {
  position: absolute;
  width: 5px;
  height: 15px;
  background: rgb(92, 45, 6);
  z-index: 2000;
}
#coinBarContainer {
  pointer-events: auto;
  position: absolute;
  top: 15px;
  right: 640px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.419);
  border-radius: 12px;
  padding: 5px 12px;
}

#coinIcon {
  font-size: 18px;
  color : rgb(246, 255, 0);
}

#coinCount {
  color: rgb(246, 255, 0);
  font-size: 16px;
  font-weight: bold;
  min-width: 20px;
}