* {
  // text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  box-sizing: border-box;
  direction: rtl;
}

:root {
  font-size: 17px;
}

body {
  margin: 0;
  padding: 0;
}

.box {
  width: 50vw;
  // height: 50vh;
  display: flex;
  flex-direction: column;
  // padding: 1.5rem;
  background-color: white;
  color: black;

  &__title {
    font-size: 3em;
    background-color: white;
    margin: 2.5rem 3rem;
  }

  &__img {
    width: 90%;
    display: inline-block;
    margin: 0 auto;
  }

  &__link {
    background-color: white;
    margin: 2.5rem 2.5rem;
    margin-left: 0;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
  }
}
