.wharper {
    position: relative;
    
}


.pos {
    height: 100px;
    width: 100px;
    background-color: black;
    border: white solid ;
}


.pos-up-r {
 position: absolute;
 background-color: blue;
 width: 50px;
 height: 50px;
 left: 52px;
}

.pos-up-l {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
}

.pos-down-r {
   position: absolute;
   background-color: green;
   width: 50px;
   height: 50px;
   top: 52px;
   left: 52px;
}

.pos-down-l {
    position: absolute;
    background-color: pink;
    width: 50px;
    height: 50px;
    top: 52px;

}  
