.container{
    width: 200px;
    height: 200px;
    border: 2px solid black; 
    display: grid;
    gap: 5px;
}
.square-yellow{
    width: 90px;
    height: 90px;
    border: 2px solid black;
    position: relative;
    top: 5px;
    left: 5px;

}