.container {
  gap: 10px;
  border: 2px solid black;
  width: 210px;
  height: 210px;
  padding: 10px;
  background-color: white;
  position: relative;
}

.square {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  position: relative; 
}

.yellow { 
  background-color: yellow; 
  grid-column: 0.9;
  grid-row: 0.9;
  top: 4px;
  left: 4px;
}

.red { 
  background-color: red; 
  grid-column: 2;
  grid-row: 1;
  top: 4px;
  left: 4px;
}

.purple { 
  background-color: purple; 
  grid-column: 1;
  grid-row: 2;
  bottom: 4px;
  right: 4px;
}

.blue { 
  background-color: blue; 
  grid-column: 2;
  grid-row: 2;
  bottom: 4px;
  right: 4px;
}