h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: oblique;
}

div > img{
    width: 100%;
}

div > p{
    width: 100%;
    text-align: center;
}

div > hr{
    width: 100%;
}

div > h1{
    width: 100%;
    text-align: center;
}

div{
    border: 3px solid red;
    width: 200px;
}