.book {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 14rem;
    width: 10rem;
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    text-shadow: 3px 3px 3px #000000;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: overlay;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }

    &Title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 0.5rem;
        text-transform: capitalize;
    }

    &Age {
        font-size: 0.9rem;
        margin-top: 0.25rem;
        font-weight: bold;

    }
}
