version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: cats-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: cats-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/catcollection
      - PORT=5000
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: cats-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo-data:
