body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    background-color: white;
}

.container {
    max-width: 730px;
    margin: auto;
    background-color: white;
    border-left: 1px solid rgb(179, 174, 174);
    border-right: 1px solid rgb(179, 174, 174);
    padding: 30px;
}

.story {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.profile img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.des {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 13px;
    font-weight:bold ;
    text-align: center;
    color: #353535;
}

.post {
    
    max-width: 530px;
    margin: auto;
}

.headline ,.post-actions ,.add-comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left img {
    width: 35px;
    height: auto;
}

.bold {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.grey {
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.postpic {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 660px;
    margin-top: 15px;
    margin-bottom:15px;

}

.postpic img {
    height: 100%;
    width: auto;
}

.icon {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 610px;
    padding: 25px}
   
.post-actions{
    margin-bottom: 0px;
    i{
        font-size: 25px;
        color: #333;
        margin: 0 3px;
    }
   
    .far:hover::before {
  font-weight: 900;
  color: black;
}
}

.post-details {
 color: #000;
}

.likes {
    font-weight: bold;
}

.caption {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.more{
    font-size: 15px;
    margin-left: 2px;
color: gray;
}

.view-comments ,.add-comment{
    color: gray;
    font-size: 16px;
}
.add-comment{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 3px rgba(194, 192, 192, 0.459);   
}
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }
}