body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    background-color: #f0f0f0;
}

.container {
    max-width: 730px;
    margin: auto;
    background-color: white;
    border-left: 1px solid rgb(179, 174, 174);
    border-right: 1px solid rgb(179, 174, 174);
    padding: 30px;
}

.story {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.profile img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.des {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.post {
    margin-top: 25px;
    max-width: 550px;
    margin: auto;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left img {
    width: 45px;
    height: auto;
}

.bold {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.grey {
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.postpic {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 660px;
    margin-top: 15px;
}

.postpic img {
    height: 100%;
    width: auto;
}

.icon {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.post-details {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    padding-top: 10px;
}

.likes {
    font-weight: bold;
}

.caption {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.view-comments {
    color: gray;
    font-size: 13px;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }
}