

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.topcontainer, .bottomwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    width: 10%;
}
.box {
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    min-width: 250px;
    text-align: right;
    border-left: 5px solid #ff6600;
    position: relative;
}


.box:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.bottomwrapper{
    display: flex;
}

.newsletter{
    flex-grow: 3;
    background-color: rgb(26, 70, 45);
    text-align: center;
    color: white;
}

.input{
    border: 1px white solid;
    color: white;
    width: 40%;
    text-align: center;
    background-color: inherit;
}

.opt{
    display: flex;
    justify-content: space-evenly;
}

.bot{
    display: flex;
}

input{
    text-align: center;
}

.check{
    text-align: right;
}