.ball{
    height: 40px;
    width: 40px;
    position: absolute;
}
#border{
// height and width edited in typescript//
    border: solid 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;   
    
}

