* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.nav{
    background-color: white;
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 1% 5%;
    margin: 0;
    border: 1px solid rgb(208, 206, 206);
   
    &__item{
        font-size: 15px;
        cursor: pointer;
        color: black;
        font-weight: bolder;
        
        &:hover {
        background-color: rgb(91, 85, 85);

    }
    }
    
}