* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 0;
}

:root {
  font-size: 16px; /* 1rem = 16px */
  /* 
  margin: 2rem;  = 32px
  padding: 1.5rem; = 24px
  font-size: 0.875rem;  = 14px
  */
}

body {
  margin: 0 3vw;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.city__title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-top: 5vh;
}
.city__title-text {
  display: inline-block;
}
.city__flexer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city__flexer-left {
  display: flex;
  align-items: center;
  width: 30%;
}
.city__flexer-left svg {
  margin-top: 0.2rem;
}
.city__flexer-right {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.city__flexer-right #btn1,
.city__flexer-right #btn2 {
  margin-left: 0.5rem;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  transition: background-color 0.3s;
}
.city__flexer-right #btn1 {
  background-color: white;
  color: rgb(235, 235, 235);
  border: 1px solid rgb(235, 235, 235);
}
.city__flexer-right #btn2 {
  transition: transform 0.3s;
}
.city__flexer-right #btn2:hover {
  transform: scale(1.08);
}
.city__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.city__cards-box {
  width: 17.8vw;
  position: relative;
}
.city__cards-box .img {
  background-size: cover;
  background-position: center;
  width: 17.8vw;
  height: 34vh;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
}
.city__cards-box .img::before {
  content: "Guest favorite";
  background-color: rgba(232, 232, 231, 0.863);
  color: #444;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  border-radius: 2rem;
}
.city__cards-box .img .like-button {
  cursor: pointer;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.city__cards .description {
  padding: 0.6rem 0;
}
.city__cards .description__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.city__cards .description__date {
  font-size: 1rem;
  color: #666;
}
.city__cards .description__price * {
  color: inherit;
}
.city__cards .description__price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: #666;
}
.city__cards .description__price .star {
  margin-right: 0.3rem;
  color: #666;
}

#img1 {
  background-image: url("../../img/london1.avif");
}

#img2 {
  background-image: url("../../img/london2.avif");
}

#img3 {
  background-image: url("../../img/london3avif.avif");
}

#img4 {
  background-image: url("../../img/london4.avif");
}

#img5 {
  background-image: url("../../img/london5.jpeg");
}

#img1m {
  background-image: url("../../img/madrid1.avif");
}

#img2m {
  background-image: url("../../img/madrid2.afiv.webp");
}

#img3m {
  background-image: url("../../img/madrid3.avif");
}

#img4m {
  background-image: url("../../img/madrid4.avif");
}

#img5m {
  background-image: url("../../img/madrid5.avif");
}

.footer__title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-top: 5vh;
}
.footer__nav {
  margin-top: 1rem;
}
.footer__nav-list {
  display: flex;
  gap: 4rem;
}
.footer__nav-item {
  padding-bottom: 6px;
  position: relative;
  color: #555;
}
.footer__nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}
.footer__nav-item:hover::after {
  width: 100%;
}
.footer__nav-item--active {
  color: #000;
  font-weight: bold;
}
.footer__nav-item--active::after {
  width: 100%;
}
.footer__stays-container {
  display: flex;
  gap: 19rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.footer__stays .ticket {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.footer__stays .ticket-category {
  font-weight: bold;
}
.footer__stays .ticket-place {
  color: rgb(129, 143, 155);
}/*# sourceMappingURL=main.css.map */