#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-jump {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes logo-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-up-down infinite 1s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 5s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(3) .logo.dog {
    animation: logo-jump infinite 2s linear;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .title {
    animation: fade-in 1s ease-in;
  }
}

.read-the-docs {
  color: #888;
}

.click-down {
  color: cyan;
  cursor: pointer;
}

@keyframes click-down-animation {
  0%, 100% {
    transform: scale(1);
    color: cyan;
  }
  50% {
    transform: scale(1.2);
    color: yellow;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .click-down {
    animation: click-down-animation infinite 1.5s ease-in-out;
  }
}