.container {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0.2rem;
  border: solid 1px lightblue;
}

.box {
  margin: 1rem;
  padding: 1rem;
  border: solid 2px black;
}