body{
    font-family: "Playwrite DK Loopet",
    cursive;
}
.wrapper{
    display: flex;
    gap:10px;
}

*{
    box-sizing: border-box;
}


div>img {
    width: 100%;

}

.the-blue {
    color: blue;
    font-size: 30px;
    width:500px;


}

.the-blue > *{
  
    padding:50px;
    margin: 40px;
}


.the-red {
    color: red;
    width:500px;
}
