:root {
    font-size: 17px;
}

@import "buttons";

body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: left;
    color: #000;
    margin: 10px 0px;
}

.btns {
    display: flex;
    justify-content: space-between;
    width:70rem;
    margin: auto;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #059862;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0eaa52;
}

.box {
    width: 1100px; 
    height: 300px;
    background-color: #d9eee1;
    border: 2px solid #333;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.3);
}
.button{
    text-align: left;

}

/* <<<<<<< Updated upstream */

.box p {
    margin: 15px 0;
    color: black;
    text-align: left;
    font: 15px 0px;
}
.box button {
    display: block; 
    margin-left: 0; 
    padding: 8px 25px;
    background-color: #04aa6d;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.box button:hover {
    background-color: #0eaa52;
}
h2{
    color: #000;
    font:32px"segoe UI",Arial,sana-serif
}
p{
    color:#000;
    font: 15px Verdana,sans-serif;
    margin : 18px 0px;

}