#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.project-thumb{
  width:100%;
  max-width:340px;
  height:160px;
  border-radius:12px;
  box-shadow:0 8px 24px rgba(2,6,23,0.35);
  margin-bottom:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  overflow:hidden;
  border: 1px solid rgba(255,255,255,0.03);
  background-color: #0f172a; 
}

.project-thumb::before{
  content: "";
  position: absolute;
  inset: -10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 260px;
  opacity: 0.08;
  filter: blur(2px);
  pointer-events: none;

}

.project-thumb > span{
  position:relative;
  z-index:2;
  color: #19e6ff; /* טורקיז */
  font-weight:800;
  font-size:1.05rem;
  text-shadow: 0 6px 18px rgba(0,0,0,0.6);
  letter-spacing:0.4px;
}

@media (max-width:420px){
  .project-thumb{height:120px}
}
