body{
    font-size: 200%;
}
.wrapper{
    margin-top: 200px;
    max-width: fit-content;

}
.box{
    width:200px;
    height:200px;
    background-color:blue;
    border:1px gray solid;
    color:gray;
}
.logo{
    position: fixed;
    top: 50px;
    right: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transform: translateX(50%);
}
.video{
    position:sticky;
    bottom: 100px;
    left:0;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transform: translateX(600%);
}