:root {
    font-size: 17px;

}

body {
    font-family: 'Open Sans Hebrew', 'Open Sans', sans-serif;
    padding: 0;
    background-color: rgb(105, 202, 247);

}

.card {
    width: 60.5vw;
    background-color: white;
    padding: 2rem;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title {
        color: black;
        font-size: 1.7rem;
        font-weight: 700;

    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__bottom {
        font-size: 1rem;
        color: rgb(46, 124, 197);
    }
}