body{
  font-family: "Tagesschrift", system-ui;
  

}

div{
    width: 200px;
    height: 300px;
    border: 1px black solid ;
    background-color: black;
    color: white;

    
    
}

div > img {
    width: 100%;
}

.down {
    color: aqua;
    margin-top: 10px;


}