header.toolbar {
    background-image: linear-gradient(268deg, #0F79CC, #0C1A32) !important;
}
.menu.sticky {
    background-image:linear-gradient(268deg, #0F79CC, #0C1A32) !important;
}
header.toolbar .inner > a.logo {
        background-image: url(https://img.mako.co.il/2023/05/11/Weekend_logo.png) !important;
}
.menu > ul > li:not(.search-bar):not(.more) > ul li.logo a {    
background-image: url(https://img.mako.co.il/2021/03/18/sticky.png) !important;
}
.sticky.menu .special ul li  , .sticky.menu .more ul li {
    background-color: #0C65AC !important;
}