.card {
    border: 1px solid #000000;
    background-color: rgb(176, 228, 211);
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
}

.name {
    font-weight: bold;
}

.age {
    color: #666;
}
