body {

    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: black;
}

.header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 1.5% 0;
    height: 8%;
    display: flex;
    justify-content: space-evenly;

    &__logo {
        padding-left: 1.5%;
        cursor: pointer;
        flex: 1;
        display: flex;
        gap: 15%;

        &__name {
            font-weight: 800;
            font-size: 35px;
        }

        img {
            height: 100%;
            width: auto;
        }


    }

    &__nav {
        flex-wrap: wrap;
        flex: 5;
        display: flex;

        align-items: center;
        gap: 3%;
        justify-content: space-evenly;

        &__ob {
            cursor: pointer;
            color: #a8a8a8;
            font-weight: 400;
            font-size: 20px;
            transition: 0.5s;

            &:hover {
                color: #f0f0f0;
                transform: scale(1.08);
            }

            button {
                white-space: nowrap;
                border-radius: 5px;
                cursor: pointer;
                color: black;
                font-size: 15px;
                font-weight: 600;
                border: none;
                padding: 8% 10%;
            }
        }


    }

}

.wrapper {
    display: flex;
    gap: 1%
}

.sidebar {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: inset -10px 0px 8px -3px rgba(0, 0, 0, 0.4);
    &__ob
    {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        gap: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.329);
        &__location{
            font-size: 18px;
        }
        i{
            font-size: 1.5rem;
        }

    }
}

.main {
    flex: 10;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__nav {
        z-index: 1;
        position: sticky;
        top: 0;
        background-color: white;
        color: #2c2c2c;
        display: flex;
        justify-content: space-evenly;
        padding: 1%;
        box-shadow: 0 0.5px 30px black;


        &__continent {
            font-weight: 700;
            cursor: pointer;

            &:hover {

                text-decoration: underline;
            }
        }

    }



    &__discover {
        margin: 3% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%0;
        background-image: url("../img/b.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;



        &__title {
            font-size: 50px;
            font-weight: 800;

        }

        &__sentence {
            margin: 3% 0;
            font-size: 22px;
            font-weight: 800;

        }

        &__search {
            min-width: 50%;
            display: flex;
            justify-content: space-between;
            padding: 1.5% 5%;
            color: #2c2c2c;
            font-size: 19px;
            background-color: rgba(233, 233, 233, 0.521);
            border-radius: 25px;
        }
    }

    &__destination {
        display: flex;
        flex-direction: column;

        &__title {
            text-align: center;
            font-size: 35px;
            background-color: black;
            color: #a8a8a8;
            padding: 1% 5%;
        }

        &__cards {
            display: flex;
            justify-content: space-evenly;
            margin: 1% 0;

            &__ob {
                border-radius: 5px;
                width: 19%;
                aspect-ratio: 4 /5;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5%;
                cursor: pointer;

                background-size: 100% 100%;
                background-repeat: no-repeat;

                &__title {
                    font-size: 40px;
                    font-weight: 700;
                }

                &__text {
                    font-size: 20px;
                    font-weight: 700;
                }

                &:hover {
                    z-index: 0;
                    transform: scale(1.02);
                }

            }

            &__Paris {
                background-image: url("../img/paris.jpg");

            }

            &__Tokyo {
                background-image: url("../img/tokyo.jpg");

            }

            &__NewYork {
                background-image: url("../img/NewYork.jpg");

            }

            &__Sydney {
                background-image: url("../img/sydney.jpg");

            }

            &__CapeTown {
                background-image: url("../img/CapeTown.jpg");

            }


        }
    }
}

.footer {
    &__wrapper {
        background-color: black;
        color: #a8a8a8;
        display: flex;
        justify-content: space-evenly;
        padding: 3% 0;

        &__section {
            display: flex;
            flex-direction: column;

            &__title {
                cursor: pointer;
                font-size: 25px;
                margin: 0 0 5% 0;

                &:hover {
                    transform: scale(1.02);
                    color: white;
                }
            }

            &__ob {

                cursor: pointer;
                font-size: 18px;
                gap: 2%;

                &:hover {
                    transform: scale(1.02);
                    color: white;
                }
            }
        }
    }

    &__rights {
        background-color: #2c2c2c;
        color: #000000;
        padding: 1% 0;
        text-align: center;
    }
}