* {
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.title{
    font-size: 2.3rem;

}
.board{
    border-radius: 5px;
    height: 510px;
    width: 510px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}
.snake{
    position: relative;
    background-color: rgb(20, 143, 116);
    border:2.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 25px;
    width: 25px;
}
.fruit{
    position: relative;
    border:2.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 25px;
    width: 25px;
}