.my-section {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(241, 241, 242, 0.975);
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header {
position: fixed;
top: 0;
  width: 100vw;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.171);
  display: flex;
  justify-content: space-between;
  padding: 0 0rem;
  font-size: 1rem;
  font-weight: 500;
  z-index: 10;

  &:hover {
    background-color: white;
    }
  &-nav {
    display: flex;
    gap: 1rem;
    align-items: center;

    &__bar {
      height: 50%;
      display: flex;
      align-items: center;
      padding: 0 0.5rem;

      &:hover {
        background-color: rgb(221, 221, 221);
        border-radius: 5px;
      }

      @media screen and (max-width: 1100px) {
        display: none;
      }

      i {
        font-size: 2rem;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
    }

    .logo {
      cursor: pointer;
      height: 2.5rem;
      background-image: url('../img/logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      aspect-ratio: 12 / 3;
      transition: 0.3s;

      i {
        display: none;
      }

      &:hover {
        transform: scale(1.05);
      }

      @media screen and (max-width: 400px) {
        background-image: none;
        aspect-ratio: 1 / 1;

        i {
          display: block;
          font-size: 3rem;
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__bar {
      cursor: pointer;
      height: 50%;
      display: flex;
      align-items: center;
      padding: 0 0.5rem;

      &:hover {
        background-color: rgb(221, 221, 221);
        border-radius: 5px;
      }

      i {
        font-size: 2rem;
      }
    }

    &__phone {
      @media screen and (max-width: 745px) {
        display: none;
      }
    }

    &__menu {
      @media screen and (max-width: 420px) {
        display: none;
      }
    }

    &__login {
      border-style: solid;
      border-radius: 20px;
      border-width: 1px;
      &:hover {
        transform: translateY(-7px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
        }
      @media screen and (max-width: 420px) {
        display: none;
      }
    }

    &__trial {
        border-style: solid;
      border-radius: 20px;
      border-width: 1px;
      background-color: var(--btn-primary);
      background-color: rgb(255, 233, 36);
      &:hover {
        transform: translateY(-7px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
        }
      @media screen and (max-width: 420px) {
        display: none;
      }
    }
  }
}
.services{
    display: flex;
    gap: 20px;
    border: 2px solid rgba(157, 161, 161, 0.821);
    border-radius: 50px;
    justify-content: center;
    justify-items: center;
    margin-top: 7rem;
    padding: 0.5rem;
    max-width: 30%;
    margin-left: 33vw;
    margin-right: 33vw;
    align-items: baseline;
    background-color: white;

    &__email{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50px;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    background-color: black;
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
    }
    &__websites,
    &__trans {
    cursor: pointer;
    border-radius: 50px;
    padding: 1rem 1rem;
    text-align: center;
    
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
  }
}
.free{
    display: flex;
    margin: 10vh;
    gap: 20px;
    justify-content: center;
    &__left{
        &-nav{
            display: flex;
            gap: 50px;
            border: 2px solid rgba(157, 161, 161, 0.821);
            border-radius: 50px;
            justify-items: left;
            padding: 0.5rem;
            max-width: 40%;
            align-items: baseline;
            background-color: white;
        &__btn1{
            cursor: pointer;
            background-color: black;
            color: white;
            border-radius: 40px;
            padding: 0.2rem 0.8rem;
            }
        &__btn2{
            cursor: pointer;
            border-radius: 40px;
            &:hover {
            background-color: rgba(243, 241, 241, 0.67);
            }
        }
    }
        &-offer{
            h1{
                font-size: 3rem;
                font-family: 'Times New Roman', Times, serif;
            }
            p{
                font-size: 1rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            &__properties{
               display: flex;
               flex-direction: row;
               gap: 200px; 
               .checkmark {
                    background-color: rgb(255, 233, 36);
                    color: black;
                    padding: 4px 8px;
                    border-radius: 30px; // optional, makes it look nicer
                    font-weight: bold;
                }
            }
        }
}
    &__right{
        flex-direction: row-reverse;
        .image{
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            width: 25vw;
            height: auto;
        }
    }
}
.mainpic{
    .image{
        width: 100vw;
        height: auto;
    }
}
.footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--background-footer);
    background-color: rgb(248, 196, 119);
    justify-content: space-evenly;
    align-items: center;

    >* {
        width: 100%;
        justify-content: center;
    }

    &-links {
        padding: 2rem 3rem 3rem 3rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem 2rem;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.37);

        &__title {
            font-weight: 400;
        }

        &__link {
            font-size: 0.8rem;
            text-decoration: underline;

            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }

        }

    }

    &-nav {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 3rem 4rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.37);
        justify-content: flex-start;

        &_section {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            &__title {
                font-weight: 400;
            }

            &__link {
                font-size: 0.8rem;
                text-decoration: underline;

                &:hover {
                    transform: scale(1.02);
                    cursor: pointer;
                }
            }

            &--check {
                width: 12rem;

                @media screen and (max-width:745px) {
                    width: 80vw;
                }
            }

            &__logo {
                display: flex;
                align-items: center;
                gap: 0.4rem;
                cursor: pointer;

                &__img {

                    width: 60%;
                    background-image: url('../img/logo.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;
                    aspect-ratio: 12/3;
                }

                &__text {
                    font-size: 0.9rem;

                }
            }

            &__text {
                font-size: 0.8rem;
                font-weight: 400;
            }

            &__arrow {
                cursor: pointer;
                font-size: 0.9rem;
                display: flex;
                gap: 1rem;
                width: fit-content;
                align-items: center;
                transition: all 0.5s;

                i {
                    background-color: rgb(255, 233, 36);
                    padding: 0.1rem;
                    border-radius: 50px;
                    transition: all 0.5s;


                }

                &:hover {
                    background-color: var(--btn-primary);
                    border-radius: 50px;
                    transform: translateX(0.3rem);
                    padding-left: 0.5rem;

                    i {
                        transform: translateX(-0.6rem);

                    }

                }
            }
        }



    }

    &-media {
        display: flex;
        padding-top: 1.7rem;
        align-items: center;
        gap: 2rem;

        @media screen and (max-width:700px) {
            flex-direction: column;
            gap: 0rem;

        }

        &__top,
        &__bottom {
            display: flex;
            align-items: center;
            gap: 2vw;
            height: 5ch;
        }

        &__icon {
            cursor: pointer;


            i {
                font-size: 1.5rem;

            }

            &--appstore,
            &--googleplay {
                height: 70%;
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                aspect-ratio: 52/15;
                border-radius: 7px;


            }

            &--appstore {

                background-image: url('../img/apple.png');


            }

            &--googleplay {
                background-image: url('../img/google.png');
            }
        }
    }
}
.vertical-text {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #e1e1dd;
  padding: 0.4rem;
  border-radius: 10px 0 0 10px;
  z-index: 1000;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  cursor: pointer;
}
.stickychat{
    position: fixed;
    top: 90%;
    right: 3vw;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}
