@import "about.scss";
@import "help.scss";
@import "success.scss";
@import "header&footer.scss";
@import "btn.scss";
@import "pricing.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(251, 242, 242, 0.841);
}

:root {
    --primary-color: black;
    --btn-primary: rgb(255, 233, 36);
    --btn-secondary: white;
    --background-primary: rgb(253, 227, 140);
    --background-footer: rgb(248, 196, 119);
    --background-secondary: rgb(195, 221, 252);

    font-size: 17px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    --title-font: "Texturina", serif;

}