.navigation {
  background-color: #fef9f7;
  padding: 1px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    color: var(--colorNavText);
    padding: 3px 10px;
    cursor: pointer;
  }
  &__item:hover {
    color: white;
  }
}
