:root {
  --colorBody: #ffffff;
  --colorBodyAlpha05: rgba(255, 255, 255, 0.05);
  --colorBodyDim: #f2f2f2;
  --colorExtraTagBg: #262626;
  --colorExtraTagText: #fff;
  --colorBorder: #efebeb;
  --colorBtnPrimary: #a7243c;
  --colorBtnPrimaryLight: #d12d4b;
  --colorBtnPrimaryDim: #921f34;
  --colorBtnPrimaryText: #ffffff;
  --colorCartDot: #ffffff;
  --colorCartDotText: #4d4d4d;
  --colorFooter: #fffaf8;
  --colorFooterBorder: #fff;
  --colorFooterText: #4d4d4d;
  --colorLink: #4d4d4d;
  --colorModalBg: rgba(246, 246, 246, 0.6);
  --colorNav: #fffaf8;
  --colorNavSearch: #ffffff;
  --colorNavText: #4d4d4d;
  --colorPrice: #4d4d4d;
  --colorSaleTag: #a7243c;
  --colorSaleTagText: #ffffff;
  --colorScheme1Text: #4d4d4d;
  --colorScheme1Bg: #ffffff;
  --colorScheme2Text: #ffffff;
  --colorScheme2Bg: #a7243c;
  --colorScheme3Text: #4d4d4d;
  --colorScheme3Bg: #f6f6f6;
  --colorTextBody: #4d4d4d;
  --colorTextBodyAlpha005: rgba(77, 77, 77, 0.05);
  --colorTextBodyAlpha008: rgba(77, 77, 77, 0.08);
  --colorTextSavings: #a7243c;
  --colorToolbar: #a7243c;
  --colorToolbarText: #ffffff;
  --urlIcoSelect: url(//www.shilav.co.il/cdn/shop/t/5/assets/ico-select.svg);
  --urlSwirlSvg: url(//www.shilav.co.il/cdn/shop/t/5/assets/swirl.svg);
  --header-padding-bottom: 0;
  --pageTopPadding: 35px;
  --pageNarrow: 780px;
  --pageWidthPadding: 40px;
  --gridGutter: 22px;
  --indexSectionPadding: 60px;
  --sectionHeaderBottom: 25px;
  --collapsibleIconWidth: 12px;
  --sizeChartMargin: 30px 0;
  --sizeChartIconMargin: 5px;
  --newsletterReminderPadding: 20px 30px 20px 25px;
  --textFrameMargin: 10px;
  --color-body-text: #4d4d4d;
  --color-body: #ffffff;
  --color-bg: #ffffff;
  --typeHeaderPrimary: FbTubicSans-Medium;
  --typeHeaderFallback: FbTubicSans-Medium-en;
  --typeHeaderSize: 23px;
  --typeHeaderWeight: 700;
  --typeHeaderLineHeight: 0.8;
  --typeHeaderSpacing: 0em;
  --typeBasePrimary: FbTubicSans-Light;
  --typeBaseFallback: FbTubicSans-Light-en;
  --typeBaseSize: 13px;
  --typeBaseWeight: 400;
  --typeBaseSpacing: 0.025em;
  --typeBaseLineHeight: 1.9;
  --colorSmallImageBg: #ffffff;
  --colorSmallImageBgDark: #f7f7f7;
  --colorLargeImageBg: #f6f6f6;
  --colorLargeImageBgLight: #ffffff;
  --icon-strokeWidth: 4px;
  --icon-strokeLinejoin: round;
  --buttonRadius: 0;
  --btnPadding: 11px 20px;
  --roundness: 0;
  --gridThickness: 0;
  --productTileMargin: 5%;
  --collectionTileMargin: 0%;
  --swatchSize: 40px;
}
.navigation {
  background-color: #fef9f7;
  padding: 1px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    color: #99aab5;
    padding: 3px 10px;
    cursor: pointer;
  }
  &__item:hover {
    color: white;
  }
}

.logo p {
  color: rgb(190, 195, 217);
  font-size: 28px;
  font-weight: bold;
}
@import "toolbar"
