.subhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #fff9f7;
  direction: ltr;
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 10vh;
}

.left-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #333;

  .location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
  }
}
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #333;

  i {
    font-size: 18px;
  }
}

.logo {
  text-align: center;

  .logo-text {
    font-size: 12px;
    color: var(--colorBtnPrimaryDim);
    margin-top: 5px;
    letter-spacing: 0.5px;
  }
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background-color: white;

  i {
    color: #333;
    margin-left: 10px;
  }

  input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #999;
    background: transparent;
    text-align: right;

    &::placeholder {
      color: #ccc;
    }
  }
}

.business-link {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
@import "style";
