:root{

    font-size: 17px;
}

.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    background-color: var(--colorToolbar);

    p{
        font-size: 1rem;
    }
    &__Instagram{
//hi
    }
    
    
}

