body{
    width: 320px; 
}
.lyingman{
    h1{
        font-size: 15px;
        color: rgba(97, 97, 97, 0.87)
    }
    
    p{font-size: 30px;
        font-family: "Protest Riot", sans-serif;
    }
    h2{
        font-size: 20px;
    }
}

.zombief{
    h1{
        font-size: 15px;
        color: rgba(97, 97, 97, 0.87)
    }
    p{font-size: 30px;
        font-family: "Protest Riot", sans-serif;
    }
    h2{
        font-size: 20px;
    }
}