body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: absolute;
    top: 0;

    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header {
    font-family: "Bookman Old Style", Bookman, "URW Bookman L", serif;

    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: rgb(29, 53, 65);
    color: white;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

.header>* {
    margin: auto;
}

.header>div:hover {
    cursor: pointer;
}

.left {
    font-size: 25px;
    margin: 0 58% 0 5%;
}

.right {
    font-size: 50px;
}

.categories-bar {
    position: absolute;
    top: 9%;
    left: 0%;
    right: 0%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 1% 5% 1% 5%;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    border-bottom: 2px solid rgb(54, 54, 54);
    height: 1.5%;
    color: rgb(54, 54, 54);
}

.category {
    display: flex;
}

.category>* {
    margin-right: 5%;

}

.category>div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wrapper {
    position: absolute;
    top: 138%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: auto;
    display: flex;
    height: 240vh;

}

.containerright {
    height: 100%;
    width: 24%;
    position: relative;

}

.chats {
    position: sticky;
    top: 125%;
    background-image: url(./img/bc.png);
    height: 40%;
    width: 100%;


}

.news {
    height: 100%;
    width: 75%;
    position: absolute;
    right: 0%;
    
}

.gn{display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 3%;

}
.hn{
    margin-bottom: 2%;
}
.hn>img {
    width: 100%;
   
}
.n {

    align-items: center;
    height: 30%;
    width: 100%;
    background-image: url(./img/bc.png);
    text-align: center;
}

.n>img {
    width: 100%;
    height: 180px;
}

h1 {
    margin: 0 5%;
    font-size: 17px;
    font-weight: bold;
    color: rgb(29, 53, 65);
}
h2 {
    margin: 0 5%;
    font-weight: bold;
    color: rgb(29, 53, 65);
}

h3 {
    margin: 0 5%;
    font-size: 13px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
.n2{
    height: 15%;
    width: 70%;
    background-color: rgb(29, 53, 65);
    margin: 0 auto 2% auto;
    position: relative;
    top: 260%;
    color: white;
    font-size: 50px;
    text-align: center;
   align-content: center;
        font-family: "Bookman Old Style", Bookman, "URW Bookman L", serif;

}