.header-container {
    display: flex;
    flex-direction: row;
    gap: 300px;
    justify-content: center;



}

.header {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    font-size: 20px;
    justify-content: baseline;





}

.box {}

.kenyon {
    position: absolute;
    right: 5%;
    font-size: 28px;
    transform: translateY(-8px);

}

.options-container {
    display: flex;
    justify-content: center;
    flex: 7;

    .options-dots{
        text-align: center;
        font-size: 40px;
        font-family: "Nunito Sans", sans-serif;
        margin-top: -40px;
        margin-bottom: 5px;


    }


}

/*      Part 2 2      */


.options1 {
    display: flex;
    flex-direction: row;
    flex: 7;
    justify-content: center;
    gap: 70px;
    border-top: 2px solid rgb(247, 242, 234);
    border-bottom: 2px solid rgb(247, 242, 234);
    
    
    
    border-width: 3px;
    
 
    font-size: 24px;
    color: #444444;

    margin-bottom: 50px;

}


.choose-mall {

    position: absolute;
    right: 20px;

}


/*       Part 3    */


.kenyon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;


    
}

.title{
    color: gray;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    h2{
        font-size: 30px;
        margin-top: -20px;
    }
}

.kenyoney-azrieli {
    display: flex;
    flex-direction: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 9;
    text-align: center;









}

.snif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    width: 160px;

}

.divider {
    border: 1px solid lightgray;


}


.snif {

    .divider-buttom {
        border-bottom: solid lightgray;
        display: flex;
        position: 1;
        order: 3
    }
}

.orange {
    color: orange;
}
.orange:hover {
    background-color: orange;
    color: white;
}

.black {
    color: black;
}
.black:hover {
    background-color: black;
    color: white;
}

.blue {
    color: blue;
}
.blue:hover {
    background-color: blue;
    color: white;
}

.pink {
    color: pink;
}
.pink:hover {
    background-color: pink;
    color: white;
}

.gray {
    color: gray;
}
.gray:hover {
    background-color: gray;
    color: white;
}

.lightblue {
    color: lightblue;
}
.lightblue:hover {
    background-color: lightblue;
    color: white;
}

.lightred {
    color: #ff6666; 
}
.lightred:hover {
    background-color: #ff6666;
    color: white;
}

.darkpink {
    color: #c71585; 
}
.darkpink:hover {
    background-color: #c71585;
    color: white;
}

.yellow {
    color: yellow;
}
.yellow:hover {
    background-color: yellow;
    color: black; 
}

.green{
    color: green;
}
.green:hover{
    background: green;
    color: white;
    
}
.purple {
    color: purple;
}
.purple:hover {
    background-color: purple;
    color: white;
}






.line1 {
    font-size: 20px;
    margin-bottom: -30px;



}

.line2{
    font-size: 30.042px;

}

.line3 {
    font-size: 60px;
    margin-top: -65px;
    margin-bottom: 10px
}