html {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



body {
    background-color: rgb(140, 140, 234);
}

img {
    font-size: 10px;
    height: 190px;
    width: 190px;
    border-radius: 15px;


    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
}