:root {
  font-size: 17px;
}

header{

}

main {
  margin-bottom: 190px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showcase {
  font-family: "Roboto", sans-serif;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;






  .showcase__title__container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: red;

  }

  &__title {
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;




  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 0.8rem;



  }

  &__images {
    display: flex;
    flex-direction: column;





    &__edit {
      background-image: url(./Images/pretty.house-4.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 9vw;
      height: 18vh;
      border-radius: 13%;
      cursor: pointer;
      object-fit: cover;







      &__favorite {
        display: flex;
        flex-direction: row;
        text-align: center;


        &__guest {
          background-color: rgb(204, 204, 204);
          font-size: 0.9rem;
          border-radius: 19%;
          margin-left: 0.4rem;
          padding: 0.2rem;
        }

        &__heart {
          margin-left: 1.8rem;

        }
      }

    }

    .card-2 {
      background-image: url(./Images/pretty-house.jpg);


    }

    .card-3 {
      background-image: url(./Images/broken-house.jpg);

    }

    .card-4 {
      background-image: url(./Images/pretty-house2.jpg);

    }

    .card-5 {
      background-image: url(./Images/pretty-house3.jpg);

    }

    .card-6 {
      background-image: url(./Images/pretty-house-1.jpg);

    }

    .card-7 {
      background-image: url(./Images/pretty-house-2.jpg);

    }

    .card-8 {
      background-image: url(./Images/pretty-house-3.jpg);

    }

    .card-9 {
      background-image: url(./Images/pretty-house-4.jpg);

    }

    .card-10 {
      background-image: url(./Images/pretty-house-5.jpg);

    }

  }

  &__explanation,
  &__date,
  &__price {
    padding-left: 0.2rem;
    font-size: 0.9rem;
  }

  &__explanation {
    font-weight: bold;
  }

  &__date,
  &__price {
    color: gray;
    font-size: 0.8rem;
  }
}



    &__images {
      &__edit {
        width: 80vw;
        height: 30vh;
      }
    }
  


@media (max-width: 600px) {
  .showcase {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__images {
      &__edit {
        width: 80vw;
        height: 30vh;
      }
    }

    &__explanation,
    &__date,
    &__price {
      font-size: 1rem;
      padding-left: 0;
      text-align: center;
    }

    &__images__edit__favorite {
      justify-content: center;

      &__guest {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .showcase {
    &__images {
      &__edit {
        width: 40vw;
        height: 25vh;
      }
    }

    &__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}

@media (max-width: 1600px) and (min-width: 901px) {
  .showcase {
    &__images {
      &__edit {
        width: 22vw;
        height: 18vh;
      }
    }

    &__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }

}


// Footer //

footer {
  width: 100%;

  margin-top: 2vw;
  position: relative;


}

.addition {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: lightgray;


  &__help {
    h5 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
      cursor: pointer;
    }

    &__custom-link {

      text-decoration: none;
      color: black;
      font-size: 0.9rem;

      &:hover {
        color: red;
      }
    }
  }



  &__care {
    h5 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }

}

:root {
  font-size: 17px;
}

header{

}

main {
  margin-bottom: 190px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* horizontal center */
  align-items: center;
  /* vertical center */
  flex-direction: column;
}

.showcase {
  font-family: "Roboto", sans-serif;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;






  .showcase__title__container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: red;

  }

  &__title {
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;




  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 0.8rem;



  }

  &__images {
    display: flex;
    flex-direction: column;





    &__edit {
      background-image: url(./Images/pretty.house-4.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 9vw;
      height: 18vh;
      border-radius: 13%;
      cursor: pointer;
      object-fit: cover;







      &__favorite {
        display: flex;
        flex-direction: row;
        text-align: center;


        &__guest {
          background-color: rgb(204, 204, 204);
          font-size: 0.9rem;
          border-radius: 19%;
          margin-left: 0.4rem;
          padding: 0.2rem;
        }

        &__heart {
          margin-left: 1.8rem;

        }
      }

    }

    .card-2 {
      background-image: url(./Images/pretty-house.jpg);


    }

    .card-3 {
      background-image: url(./Images/broken-house.jpg);

    }

    .card-4 {
      background-image: url(./Images/pretty-house2.jpg);

    }

    .card-5 {
      background-image: url(./Images/pretty-house3.jpg);

    }

    .card-6 {
      background-image: url(./Images/pretty-house-1.jpg);

    }

    .card-7 {
      background-image: url(./Images/pretty-house-2.jpg);

    }

    .card-8 {
      background-image: url(./Images/pretty-house-3.jpg);

    }

    .card-9 {
      background-image: url(./Images/pretty-house-4.jpg);

    }

    .card-10 {
      background-image: url(./Images/pretty-house-5.jpg);

    }

  }

  &__explanation,
  &__date,
  &__price {
    padding-left: 0.2rem;
    font-size: 0.9rem;
  }

  &__explanation {
    font-weight: bold;
  }

  &__date,
  &__price {
    color: gray;
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .showcase {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__images {
      &__edit {
        width: 80vw;
        height: 30vh;
      }
    }
  }
}

@media (max-width: 600px) {
  .showcase {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__images {
      &__edit {
        width: 80vw;
        height: 30vh;
      }
    }

    &__explanation,
    &__date,
    &__price {
      font-size: 1rem;
      padding-left: 0;
      text-align: center;
    }

    &__images__edit__favorite {
      justify-content: center;

      &__guest {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .showcase {
    &__images {
      &__edit {
        width: 40vw;
        height: 25vh;
      }
    }

    &__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}

@media (max-width: 1600px) and (min-width: 901px) {
  .showcase {
    &__images {
      &__edit {
        width: 22vw;
        height: 18vh;
      }
    }

    &__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }

}


// Footer //

footer {
  width: 100%;

  margin-top: 2vw;
  position: relative;


}

.addition {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: lightgray;


  &__help {
    h5 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
      cursor: pointer;
    }

    &__custom-link {

      text-decoration: none;
      color: black;
      font-size: 0.9rem;

      &:hover {
        color: red;
      }
    }
  }



  &__care {
    h5 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }

}

@import "Header";