p{
    font-size: medium;
    color: blue;
    font-weight: 400;
    margin:10px 0;
    text-align: border;
    background-color: beige;
}
h1,h2 {
    color:black;
    font-size: large;
    font-weight: 700;
    margin: 20px 0;
    text-align: right;
    background-color: brown;
    
}
button{
    font-size: small
    padding: 10px 20px;
}
