.pictureBox {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid #0000007c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 4px;
    }

    .inputUrl {
        width: 90%;
        padding: 5px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
