body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.score{
    font-size: 1.5rem;
    font-family: system-ui, sans-serif;
    margin: 0.5rem;
    padding: 0.5rem;
}

#reset{
    font-size: 1.5rem;
    font-family: system-ui, sans-serif;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    cursor: pointer;
}
#board{
    border: 1px solid black;
}

#game-over{
    display: none;
    font-size: 1.5rem;
    color: red;
}