.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  border: 0.1px solid gray;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
