.accessibility{
    &__image{
        position: fixed;
        top: 6vh;
        right: 13px;
        z-index: 9999;
        
        img{
                width: 31px;
                height: auto;
                background-color: var(--webpage-color);
                border-radius: 50%;
        }

    }
}