.footer {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
    height: 30vh;
    background-color: #181818;
    border-radius: 20px;
    font-family: "Noto Sans Hebrew", sans-serif;
    margin: 0 auto;
    font-size: 0.8rem;

    p {
      color: white;
      justify-self: center;

      &:hover {
        border-bottom: 1px solid blue;
      }
    }
  }
  &__social {
    img {
      width: 12vw;
      border-radius: 20px;
    }
  }
}
