.footer {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
        height: 30vh;
        background-color: #181818;
        border-radius: 20px;
        font-family: "Noto Sans Hebrew", sans-serif;

        p {
            color: white;
        }
    }

    &__for-you {
        //nothing yet//
    }

    &__about{
// nothing yet//
    }
    &__social{
        img{
            width: 15vw;
            border-radius: 20px;
        }
    }
}