.video {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  &__div {
    display: flex;
    flex-direction: row;
  }
  &__container {
    margin-left: 3em;
    margin-right: 3em;
  }
}
iframe {
  width: 50vw;
  height: 50vh;
}
.moreText {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 60px;
  margin-bottom: 30px;
  text-align: center;
  width: 50vw;
}
.ourStores {
  background-image: url("../Images/supermarket1.jpg");
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-self: center;
  transition: all 0.25s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125%;
  margin: 20px;
  &:hover {
    width: 52vw;
    height: 52vh;
    background-image: 50vw 50vh;
  }
}
