.card {
  background: white;
  border: 5px solid black;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardTitle {
  color: black;
  text-align: center;
  margin-bottom: 1em;
}
.cardDescription {
    color: black;
    text-align: center;
    margin-bottom: 1em;
}