.card {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title {
  color: #333;
  text-align: center;
  margin-bottom: 1em;
}
.card-description {
    color: black;
    text-align: center;
    margin-bottom: 1em;
}