$btn-backgroudcolor-before:#d6e2f5;
$btn-backgroudcolor-hover:#597aaf;
$btn-color-text-before:#467cd2;
$btn-color-text-hover:white;


.mystyle{
  color:$btn-color-text-before
  }

.subBtn{
  border:none;
  background-color:$btn-backgroudcolor-before;
  color: $btn-color-text-before;
  &:hover{
    background-color: $btn-backgroudcolor-hover;
    color: $btn-color-text-hover;
  }
}

.cardContainer{
  &__item{width: 18rem}
}

.adminPanel{
&__form{
  &--price{
    color: #a3ef0b;
    background-color: #467cd2;
  }
}
}