.nav {
  &__right {
    &-logo {
      width: 100vw;
      height: 100vh;
      background-image: url("../../img/IPB-logo-new.png");
      display: block;
      // background-size: cover;
      // background-position: center;
    }
  }

  // &__left {

  //   &-links{

  //   }
  // }
}
