*{
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.booksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  gap: 1.5rem;
}

h1,
h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  width: 100vw;
}

.addBookForm {
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.formInput {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 3rem;

  input {
    margin-left: 0.5rem;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 550;
    color: #000000c9;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    }
  }
}

.addButton {
  background-color: #0000009c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #000000b6;
  }
}

h2 {
  font-size: 1rem;
  bottom: 0;
}
