.wrapper{
    border:1px black solid;
    margin:auto;
    max-width: fit-content;
}

.box{
    width:200px;
    height:200px;
    background-color:blue;
    border:1px gray solid;
    color:gray;
}

.the-one{
    background-color:red;
    position: relative;
    top: 50px;
    left: 50px;
}

.the-second{
    background-color:green;
    position: relative;
    bottom: 50px;
    right: 50px;
}

.the-third{
    background-color:yellow;
    position: absolute;
    top: 50px;
    right: 50px;
}