
.main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    &--about {
        display: flex;
        flex-direction: column;

        .headline {
            display: flex;
            background-color: var(--background-secondary);
            padding: 3.5rem 4rem;


            &__title {
                font-family: var(--title-font);

                display: flex;
                flex: 1;
                font-size: 3rem;
                font-weight: 650;
                justify-content: flex-end;
                padding-right: 2rem;
                align-items: center;
            }

            &__img {
                flex: 1;
                background-image: url('../img/aboutimg.png');
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                aspect-ratio: 60/38;

            }
        }

        .description {
            display: flex;
            flex-direction: column;
            width: 47vw;
            margin: 5rem auto;
            gap: 2rem;

            &__section {

                .title {

                    font-family: var(--title-font);

                    font-size: 2.5rem;
                    font-weight: 550;
                    margin-bottom: 1rem;

                    &--float {
                        float: left;
                        margin: 0 0.58rem 0 0;
                        line-height: 0.9;


                    }

                }

                .text {
                    text-align: justify;
                    line-height: 1.5rem;

                }
            }
        }

        .learn-more {
            display: flex;
            flex-direction: column;
            width: 70vw;
            margin: auto;
            gap: 2rem;
            margin-bottom: 4rem;

            &__title {
                font-size: 2rem;
                font-weight: 350;
            }

            &__wrapper {
                display: flex;
                width: 100%;
                gap: 2%;
            }

            &__section {
                width: 32%;

                &__small-title {
                    font-size: 0.9rem;
                    font-weight: 450;
                }

                &__title {
                    font-family: var(--title-font);
                    font-size: 1.4rem;
                    line-height: 1.5rem;
                    padding: 0.5rem 0;

                }
                &__text{
                    font-size: 0.95rem;
                    line-height: 1.3rem;
                }

                .more-img {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    aspect-ratio: 36/20;
                    border-radius: 20px;
                    // border: 1px solid black;

                    &--one {
                        // width: 500px;
                        background-image: url('../img/1.jpg');

                    }

                    &--two {
                        // width: 500px;
                        background-image: url('../img/2.jpg');

                    }

                    &--three {
                        // width: 500px;
                        background-image: url('../img/3.jpg');

                    }
                }





            }
        }

    }
}