* {
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 5rem;
    background-color: yellow;
    border-bottom: 1px solid black;

    .nav {
        flex: 2;
        display: flex;

        .logo {
            height: 8%;

            aspect-ratio: 3/12;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url('../img/logo.png');
        }

        &__bar {
            a{
                text-decoration: none;
                color: inherit;
            }

        }
    }

    .right {
        display: flex;
    }

}