header a{
font-size: 40 20px;
text-align: center;
  margin-right: 50px;
  color: black;
  font-weight: bold;
  row-gap: 30px;
 
}

.btn{
    line-height:10;

    text-align: center;
}


p{
  font-size: 16px;
  font-weight: 500;
  
}
h1{
  font-weight: 800;
}
h2{
  font-weight: 600;
}