.highq{/*doron */
background-color: rgb(18, 16, 16);
color: yellow;
width: 100px;
height: 50px;
position: fixed;
left: 100px;
z-index: 100;
}

.instagram{/*elor */

}

.youtube{/*elor */

}

.test{/*elor */

}

.video{/*doron */

}

.text{/*elor */

}