:root{
    font-size: 17px;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    height: 80vh;
    width: 80vw;
}

h1{
    font-size: 2.5rem;
}


img{
    width: 50vw;
    height: 50vh;

}

p{
    font-size: 1.2rem;
    width: 50vw;
}