.App{
  text-align: center;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: all 0.5s ease;
}
.light{
  background-color: white;
  color: black;
}
.dark{
  background-color: black;
  color: white;
}

button{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 20px;
}
