h1{
    color: rgb(45, 120, 212);
    font: bolder;
    font-style: italic;
    border-style: dashed;
}
h2,h3,h4,h5,h6{
    color: rgb(45, 120, 212);
    font-size: larger;
    font-style: italic;
    background-color: rgb(171, 198, 198);
}
p{
    color: rgb(31, 31, 31);
    font-size: large;
    font-style: italic;
}
img {
    border: 5px solid #555;
    border-radius: 50%;
  }
body{
    background-color: rgb(207, 195, 176);

}