.app{
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;

}

.dogList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
  justify-items: center;

  img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2b4172ee;
  color: white;
  transition: background-color 0.3s;

  &:hover{
    background-color: #274464cc;
  }
}

