body{
    background-color: rgb(253, 251, 251);
    color: #080808;
    
.storiesline{
    display: flex;
    padding: 5px;
}

div>img{
    width: 45px;
    height: 45px;
    border-radius: 90%;
    border: solid pink;
}

div>p{
    width: 50px;
    overflow: hidden;
}

div{
    padding: 5px;
}
.story-inner{
    padding: 5px;

div>img{

    }
}
}