.container01 {
    
    display: flex;
    height: 50px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    color: aqua;
    text-align: center;

    
  }
  
  
  .container01 img{
    height: 50px;
    right: 0;
  }
  .container02{
    position: sticky;
    top: 0;
    left: 0;
    border: 1px solid black;
    display: flex;
    height: 75px;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(238, 232, 226);
  }
  .container03{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
  }
  .container04 {

    font-size: 20px;
    display: flex;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    height: 140px;
    gap: 50px;
    justify-content: flex-start;
    text-align: center;
    
    
  }
  
  
  
  .a{
    color: rgb(210, 51, 51);
    

    
  }
  .b{
    color: black;
  }
  .c{
    color: rgb(3, 15, 57);
  }
  .d{
    color: rgb(196, 48, 164);
  }
  .e{
    color: rgb(63, 148, 66);
  }
  .f{
    color: rgb(29, 28, 28);
  }
  .g{
    color: rgb(70, 95, 170);
  }
  .h{
    color: rgb(92, 27, 27);
  }
  .i{
    color: rgb(84, 29, 29);
  }
  .j{
    color: rgb(91, 27, 94);
  }
  .k{
    color: rgb(219, 181, 15);
  }
  .m{
    color: rgb(184, 107, 8);
  }
  .n{
    color: rgb(38, 38, 37);
  }
  .v{
    color: rgb(14, 14, 13);
  }
  .x{
    color: rgb(30, 30, 28);
  }
  .z{
    color: rgb(29, 28, 28);
  }
  .p{
    color: rgb(21, 21, 20);
  }
  .l{
    color: rgb(84, 3, 88);
  }
  .s{
    color: rgb(118, 205, 121);
  }
  .container05{
    display: flex;
    height: 150px;
    justify-content: space-evenly;
    color: aqua;
  }
  .containers{
    display: flex;
    flex-direction: column;
    gap: 40px;

  }
  .container06 img{

    width:1500px
    
  }


  
  

