
body {
  font-family: "Assistant";
  font-weight: 700;
  font-size: 0.9rem;
}
.outline {
  background-image: url(https://campus.gov.il/wp-content/themes/campusnew/images/rtl/vector22.svg),
    /* הכי עליון */
      url(https://campus.gov.il/wp-content/themes/campusnew/images/rtl/vector21.svg),
    /* אמצעי */
      url(https://campus.gov.il/wp-content/themes/campusnew/images/info-hero.svg); /* הכי תחתון */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 16rem;
  background-position: right center, left center, right;
  background-size: contain, contain, cover;
  top: -1px;
  left: 0;
  right: 0;
  position: static;

  &__top-nav {
    top: 0;
    height: 3rem;
    background-color: none;
    flex-direction: row;
    display: flex;

    &--left {
      position: absolute;
      left: 0;
      margin-left: 10px;
      top: 10px;
    }
    &--right {
      position: absolute;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      color: white;
      margin-right: 10px;
      top: 10px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .menu {
    // position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white; // Make all text inside .menu white

    &--list {
      top: 40px;
      display: flex;
      flex-direction: row;
      position: absolute;
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-right: 1.5rem; // רווח בין הפריטים
        }
      }
    }
    a {
      color: white; // Make all links inside .menu white
      text-decoration: none;
    }
  }
}
.content {
  position: relative;
  top: 16rem; // Adjusted to match the height of the outline
  padding: 2rem;
  background-color: #f8f9fa; // Light background for content area
}

.footer {
  background-color: rgb(51, 52, 51);
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  // margin-top: 100%;
  // z-index: 100;
  width: 100%;
  height: 100px; // Set a fixed height for the footer
  background-image: url(https://campus.gov.il/wp-content/themes/campusnew/images/ltr/back-to-top.svg),
    url(https://campus.gov.il/wp-content/themes/campusnew/images/footer-bg-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 0 bottom 0, bottom 0 left 0;
  background-size: 50px,100%; // התמונה הראשונה קטנה, השנייה גדולה
}


