* {
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 0;
  direction: ltr;


 // -- Variables for colors
 --primary-color: rgb(247, 247, 247);
 --secondary-color: black;
}

:root {
 font-size: 16px; /* 1rem = 16px */
 /* 
 margin: 2rem;  = 32px
 padding: 1.5rem; = 24px
 font-size: 0.875rem;  = 14px
 */
}

ul {
 list-style: none;
}

li {
 cursor: pointer;
}
li:hover {
 // color: var(--secondary-color);
 text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}
li:hover {
  // color: var(--secondary-color);
  text-decoration: none;
}

a {
 text-decoration: none;
}
a:hover {
 // color: var(--secondary-color);
 text-decoration: underline;
}

body {
 background-color: var(--primary-color);
}

// importing

@import "about";
@import "event";
@import "contact";
@import "headfoot";
