* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

body {
    margin-top: 140px;



}

h1 {
    font-size: 30px;
}

h2 {
    color: rgb(99, 98, 98);
    font-size: 25px;
}

h3 {
    font-size: 25px;
    color: rgb(99, 98, 98);
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 15px;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-link img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.logo {
    display: flex;
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-right: 20px;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: white
}

.welcome {
    border: 3px solid black;
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
    margin: 20px 30px;
    padding: 10px;

}

.name {
    background-image: url("2.png");
    text-align: center;
    border-radius: 20px;
    margin: 20px 30px;
    padding: 50px;

}


#name {
    color: rgba(85, 3, 3, 0.774);
    font-size: 150px;
}

#describe {
    color: rgb(56, 0, 0);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.932);
}

.about {
    margin: 30px 30px;
    display: flex;
    text-align: center;

}


.about img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    margin-right: 70px;
}


p {
    color: black;
    font-size: 20px;
    margin: 15px;
    text-align: justify;
}

button {
    color: gray;
    background-color: black;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 20px;
    border: grey solid;
}

button:hover {
    box-shadow: 0 0 20px black;
    /* stronger shadow */
}


.info {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(77, 5, 5);
    font-size: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*HOBBIES AND SKILLS*/
.hst {
    border: 3px solid black;
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
    margin: 20px 30px;
    padding: 10px;
    color: white;
    background-color: black;
}

.hst h2 {
    color: rgb(77, 5, 5);

}

.all_hs {display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    max-width: 90%;
    margin: 20px 30px;
    margin-right: 30px;
    box-sizing: border-box; /* לוודא שהמרווחים לא ישפיעו על הרוחב הכולל */
    width: auto;

    font-family: Arial, sans-serif;
 
}



.hstt{
    background-color: black;
    color: rgb(77, 5, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    padding: 50px;
    width: 250px; /* או כל רוחב שתרצי */
    min-width: 250px;
    max-width: 250px;
    box-sizing: border-box;
    font-weight: bold;
}

.arrow{
    background-color: black;
    color: rgb(77, 5, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 35px;
}
