:root{ 
 font-size: 17px;
}

body{
    margin: 1rem;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    align-content: center;
}
.title{
    font-size: 2.5rem;
    padding: 10px 10px;
}
.aft{
    font-size: 1rem;
}