.card {
    padding: 2rem;
    max-width: 300px;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: #9aa0e7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img{
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    }
}
