* {
    box-sizing: border-box;
}

:root {
    font-size: 17px;
}

body {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
gap: 1rem;

}

.challenge {
    border-radius: 5px;
    box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.63);
    // border: 1px solid rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
     align-items: center;
    gap: 10px;
padding: 0.8rem 1rem;
    &--one {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(154, 198, 255);
        color: rgb(0, 32, 73);
    } &--two {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: rgb(210, 154, 255);
        color: rgb(76, 2, 105);
    }
    &--three {
font-family: 'Courier New', Courier, monospace;
        background-color: rgb(255, 154, 154);
        color: rgb(73, 0, 0);
    }
    &--four {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgb(255, 255, 154);
        color: rgb(73, 73, 0);
    }
    &--five {
        font-family:cursive;
        background-color: rgb(154, 255, 154);
        color: rgb(0, 73, 0);
    }
}


    .input {
        height: 2rem;
        width: 10rem;
        text-align: center;
        border: 1.5px solid rgb(109, 109, 109);
        border-radius: 5px;
    }
   .output{
        font-size: 1.5rem;
    }

    .error{
        font-size: 1rem;
        color: red;
    }