@import './../../../../styles/variables';
@import './../../../../styles/mixins';

.favorite-movies {
  @include card;
  
  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-xl;
    color: $gray-900;
    text-align: center;
  }
  
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  &__item {
    padding: $spacing-md $spacing-lg;
    margin: $spacing-sm 0;
    background: $primary-color;
    color: $white;
    border-radius: $border-radius-lg;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    transition: all $transition-normal;
    @include slide-in;
    
    &:nth-child(1) { animation-delay: 0.1s; }
    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.3s; }
    &:nth-child(4) { animation-delay: 0.4s; }
    
    &:hover {
      transform: translateX(10px);
      background: $primary-dark;
      box-shadow: $shadow-md;
    }
  }
}