body{
  background-color: black;
  font-family: sans-serif;
}

div {
  width: 300px;
  background-color: aliceblue;
  color: black;
}

div > img {
  width: 100%;
  height: 200px;
}

p, h3 {
  padding-left: 20px;
  padding-right: 20px;
}

.pad-bottom {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 12px;
}

.lock {
  width: 20px;
  padding-right: 5px;
}

.hamburger {
  width: 20px;
  padding-right: 5px;
}