body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story{
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 15px;
    padding-top: 20px;
    
    
}

.storypost{
    text-align:center ; 
    display: flex;
    flex-direction: column;
    display: block;
    align-items: center;
    font-family: "Protest Riot", sans-serif;
    p{
      transform: translateY(-6px);
      font-size: 11.5px;
      

    }
    
    
    
}

.story-ring {
  background: conic-gradient(#f502b8, #e02006, #e4b724, #e4d509, #f11000);
  border-radius: 50%;
  padding: 3px; 
  display: inline-block;
  
  
 

}

.inner-ring {
  background-color: inherit; 
  border-radius: 50%;
  padding: 1px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  
  
  
  
}

.storypost img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: block;
}
/* PART 2 */
    



.content.wrapper{
/*  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-position: center;
  background-color: gray;
*/  


}

.icon-text-wrapper{
  display: flex;
  
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.icon{
  .bold{
    font-weight: 800;
  }
  .gray{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

  }
  }
  p6{
    font-size: 12px;
  }
    
  
}






.video{

/* width: 420px; */
}

.like-section{
  .likes{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin-top: 0px;
    
    
    

  }
  
}

.postcomment{
  h4{ 
    color: gray;
  }
    width: 422px;
  p1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
  }
}






