
.story{
    display: flex;
  
    justify-content: center;
    align-items: center;   
    gap: 15px;
    padding-top: 20px;
    
    
    
    
    
    
}

.storypost{
    text-align:center ; 
    display: flex;
    flex-direction: column;
    display: block;
    transform: translate();
    align-items: center;
    font-family: "Protest Riot", sans-serif;
    p{
      transform: translateY(-6px);
      font-size: 11.5px;

    }
    
    
    
    
}

.story-ring {
  background: conic-gradient(#f502b8, #e02006, #e4b724, #e4d509, #f11000);
  border-radius: 50%;
  padding: 3px; 
  display: inline-block;
  
 

}

.inner-ring {
  background-color: inherit; 
  border-radius: 50%;
  padding: 1px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  
  
  
}

.storypost img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: block;
  
   
  
}





