:root {
    font-size: 17px;

    --border-radius:15px;
    --primary-color: rgb(104, 49, 28);
    --secondary-color: rgb(165, 93, 64);
    --button-color: rgb(207, 118, 15);
    --context-color: rgb(16, 56, 3);
    --additional-color:rgb(92, 92, 92);

}



@import "about"

